<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brickhack4app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WhiteBelt" android:label="WhiteBeltLabel">
        </activity>
        <activity android:name=".YellowBelt" android:label="YellowBeltLabel">
        </activity>
        <activity android:name=".OrangeBelt" android:label="OrangeBeltLabel">
        </activity>
        <activity android:name=".GreenBelt" android:label="GreenBeltLabel">
        </activity>
        <activity android:name=".BlueBelt" android:label="BlueBeltLabel">
        </activity>
        <activity android:name=".BrownBelt" android:label="BrownBeltLabel">
        </activity>
        <activity android:name=".BlackBelt" android:label="BackBeltLabel">
        </activity>
        <activity android:name=".osotogake" android:label="osotogakeLabel">
        </activity>
    </application>

</manifest>